<?xml version="1.0"?>
<connectionStrings>
  <remove name="umbracoDbDSN" />
  <add name="umbracoDbDSN" connectionString="server=localhost;database=umbraco-cms;user id=sa;password='p@ssw0rd'" providerName="System.Data.SqlClient" />
  <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
</connectionStrings>
